.intro{
    background-image: url("../images/MariaPoze/agrafe/1_cerc.jpg");
    background-size: cover;
    margin-top: 57.5px;
}

.icon-wrap:hover{
    opacity: 0.7;
}


.header-main{
    margin-top:69px;
    border-top:1px solid #EEEEEE;
}

/* map */
.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  /* iconitele de la forma de contacts-nume,email,subject,send message */
  .md-form i, .ic i{
      background: MistyRose;
      padding: 10px;
      border-radius: 4px;
  }

    /* iconitele de la contacts-telefon,dresa,email */
    .md-form i, .ic i {
        background: MistyRose;
        padding: 10px;
        border-radius: 4px;
    }
    .price {
        text-align: center;
    }

    