/* Start header */
a{
   color: #fff; 
   text-decoration: none;
}
*{
    margin: 0;
}


.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #689CD2;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.header__section{
    display: flex;
    align-items: center;
}

.header__item{
    padding:10px 15px ;  
    font-size: 20px;
    margin-left: 5px;
}

.header__item:hover{
   background-color: #FF9900;
   border-radius: 4px;
}

.headerlogo{
    font-weight: bold;
}

.headerButton{
    cursor: pointer;
}
/* End header */



/* Start main */
/* start siteBar left */ 
.siteBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 630px;
    width: 150px;
    border-right: 1px solid #D7DBDD;
    background-color: #FCFDFD;
    padding: 10px;
}

.siteBar a{
    color: #689CD2;
}

.siteBar__item{
    cursor: pointer;
    padding: 8px 10px;
    font-size: 18px;
}

.siteBar__item:hover{
background-color: #EEF3F5;
border-radius: 4px;
}
/* End siteBar left */ 



/* Start Slide */
main{
    display: flex;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background: #333;
    height: 2000px;
    font-family:'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

.wrap{
    display: flex;
    align-items: stretch;
    width: 90%;
    margin: auto;
    flex-direction: column;
}

button{
    width: 30px;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 40px;
    text-align: center;
    outline: none;
    opacity: 0.5;
    transition: 300ms ease-out;
}
button:hover{
    opacity: 1;
}

.slider{
    display: flex;
    flex-direction: row;
}

.scroller{
    flex: 1;
    overflow: hidden;
}

.items{
    list-style-type: none;
    white-space: nowrap;
    transition: transform 1s ease-in-out;
}

.item{
    padding: 30px 20px;
    display: inline-block;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 0 0 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5 );
}
/* End Slide */
/*End main */


